.App {
  text-align: center;
}

.App-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(207, 241, 11);
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 30px;
}
